.welcome-title {
  background-color: #AFEEEE;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  animation: color-change 5s infinite;
  }
  @keyframes color-change {
    0% { background-color: #AFEEEE; }
    50% { background-color: #00CED1; }
    100% { background-color: #AFEEEE; }
  }
  
  
  .vendor-list-title {
    background-color: #00CED1;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid #fff;
    animation: color-change 5s infinite;
  }
  @keyframes color-change {
    0% { background-color: #00CED1; }
    50% { background-color: #20B2AA; }
    100% { background-color: #00CED1; }
  }
  
.vendor-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .vendor-link {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    border: 2px solid #54c7cb;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #54c7cb;
    transition: background-color 0.2s ease-in-out;
  }
  
  .vendor-link:hover {
    background-color: #4c299e;
    color: white;
  }
  
  .button:hover {
    background-color: #2ecc71;
    color: white;
  }